if SHIELD_TOUCAN_DONGLE

config ZMK_KEYBOARD_NAME
    default "TOUCAN"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_TOUCAN_LEFT || SHIELD_TOUCAN_RIGHT || SHIELD_TOUCAN_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config SPI
    default y

config ZMK_POINTING
    default y

endif


