/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include "toucan.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

/* Disable the real matrix kscan — dongle has no physical keys */
&kscan_0 {
    status = "disabled";
};

/* If trackpad SPI is defined in base shield and not valid on dongle */
&spi0 {
    status = "disabled";
};
